/*�����*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;

}
.content {
  flex: 1 0 100%;
}
.hello {
 background-color: #445162;
 padding: 30px 0;
}
.container {
	max-width: 1280px;
	margin: 0 auto;
}

.hello__body {
	padding: 0 30px 0 0;

}

.hello__row {
	display: flex;
	justify-content: space-between;
}
.hello__title {
	font-size: 60px;
	color: white;
}
.hello__image {
}
.hello__list{
	font-size: 20px;
	color: white;
	margin-top: 40px;
	word-break: break-all;

}

.hello__list li {
  margin: 15px 0;
	background: url(../img/icon_1.jpg.png) 0 1px no-repeat;
	padding: 0 30px;
	
}

.hello__item {
}
.footer {
	text-align: center;
	background-color: #f5f5f5;
	padding: 20px 0;
}

.what {
	padding: 30px 0;

}
.what__body {
	margin-left: 50px;
}

.what__row {
	display: flex;
}
.what__title {
	margin-bottom: 30px;

}
.title {
	font-size: 30px;
	color: #445161;
}
.what__text  {
	font-size: 16px;
	color: #333333;
}

.what__text p {
	margin-top: 30px;
}

.columns {
	padding: 30px 0;
	background-color: #f5f5f5;
}
.columns__title {
	text-align: center;
}
.title {
}
.columns__row {
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
}
.columns__item {
	display: flex;
	flex: 0 0 50%;
  margin: 20px 0px;
}
.columns__img {
	padding: 0 20px;
}
.columns__subtitle {
	font-size: 24px;
	color: #445161;
}
.columns__text {
	margin-top: 10px;
	font-size: 16px;
	color: #333333;
}

.col {
	padding: 30px 0;
}
.col__title {
	text-align: center;
}

.col__body {
	max-width: 990px;
	margin: 0 auto;
}
.col__row {
	display: flex;
	margin: 0 -22.5px;
}
.col__column {
	display: flex;
	margin: 30px 0px;
	flex: 0 1 33.333%;
	padding: 0 22.5px;
		
}
.col__item {
	background-color: #445162;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	padding-bottom: 20px;
}
.col__subtitle {
	font-size: 24px;
	text-transform: uppercase;
	color: white;
	text-decoration: center;
	text-align: center;
	padding: 15px 0;
}
.col__lastitle {
	font-size: 40px;
	color: #445162;
	background-color: white;
	border: 1px solid #445162;
	text-align: center;
	padding: 18px 0;
}
.col__text {
	flex: 0 1 100%;
	padding: 20px 20px;
	line-height: 24px;
	font-size: 14px;
	color: white;
}

.col__text p {
	margin: 0 0 30px 0;

}

.col__text p:last-child{
	margin: 0;
}

.col__button {
	display: block;
  height: 40px;
	margin: 0 20px;
	background-color: white;
	text-align: center;
	font-size: 18px;
	color: #445161;
	border-radius: 5px;
	line-height: 40px;
}